<div>
	<h1><%= @job.title %></h1></br>
	<%= @job.category.name %></br>
	<%= @job.company.name %></br>
	<%= @job.description %></br>
	<%= @job.location %></br>
	<% if @job.featured? %>
		<strong><%= 'Destaque' %></strong>
	<% end %>
	<p><%= link_to 'Voltar', root_path, class: "btn btn-default btn-lg active" %></p>
</div>