<div>
	<h1><%= @company.name %></h1></br>
	<%= @company.location %></br>
	<%= @company.mail %></br>
	<%= @company.phone %></br>
	<p><%= link_to 'Voltar', root_path %></p>
</div>

<div>
	<%= render @jobs%>
</div>